* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

footer section {
    position: relative;
    width: 100%;
    height: 150px;

    background-color: var(--amarelo);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer section span:nth-child(1) {
    color: #000;
    font-size: 20px;
}

footer section span a {
    color: var(--azulmarinho);
    font-size: 15px;
    font-weight: bold;

    margin-top: 0px;

    text-decoration: none;
}